@import "tailwindcss";

*{
  box-sizing: border-box;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --fundo-topo:#243042;
  --botao-proximo:#27a485;
  --botao-anterior:#386bcc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-fundo-topo:var(--fundo-topo);
  --color-botao-proximo:var(--botao-proximo);
  --color-botao-anterior:var(--botao-anterior);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f2f7ff;
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}